<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add New Court</title>
</head>

<body>

	<div layout:fragment="content">

		<div class="row pt-2 pb-2">
			<!-- <div class="col-sm-9">
				<h5 class="page-title"></h5>
			</div> -->
			<div class="col-sm-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="home">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Add New
						Court</li>
				</ol>
			</div>
		</div>
		<!-- This is Best -->

		<form th:action="@{/addNewCourt}" method="post"
			class="needs-validation" th:object="${addCourt}">
			<input type="hidden" th:field="*{id}">
			<div th:if="${message}" class="alert alert-success alert-dismissible"
				role="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<div class="alert-icon">
					<i class="fa fa-check"></i>
				</div>
				<div class="alert-message">
					<span th:text="${message}"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h4 class="form-header text-uppercase">
								<i class="fa fa-sitemap"></i> Add New Court
							</h4>

							<div class="form-group row">

								<label for="input-10" class="col-sm-2 col-form-label">Court
									Name <span class="text-danger">*</span>
								</label>
								<div class="col-sm-4">
									<input type="text" class="inputTxt form-control"
										autocomplete="off" id="courtname" name="courtname"
										th:field="*{courtName}" placeholder="Court Name"
										onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32) || (event.charCode==46)||(event.charCode == 45)"
										required="required" maxlength="35" /> <span
										class="text-danger" th:if="${#fields.hasErrors('courtName')}"
										th:errors="*{courtName}">Designation Error</span>

								</div>
								<label for="input-10" class="col-sm-2 col-form-label">Court
									Type <span class="text-danger">*</span>
								</label>

								<div class="col-sm-4">
									<select class="form-control" th:field="*{courtType}">
										<option value="1">All</option>
										<option value="2">Punishment</option>
										<option value="3">Discharge</option>
										<option value="4">Stayed</option>
									</select>
								</div>





								<span class="text-danger"
									th:if="${#fields.hasErrors('courtType')}"
									th:errors="*{courtType}">courtType Error</span>

							</div>

							<div class="col-sm-4">

								<button type="submit" class="btn btn-success">
									<i class="fa fa-plus"></i> Save
								</button>


								<button type="reset" class="btn btn-danger">
									<i class="fa fa-times"></i> Reset
								</button>
							</div>


						</div>


					</div>
				</div>
			</div>


		</form>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="form-header text-uppercase">
							<i class="fa fa-user"></i> Court Details
						</h4>

						<div class="form-group row">
							<table class="table table-striped table-bordered" id="desigTable">
								<thead class="bg-info text-white">
									<tr>
										<th>S.No.</th>
										<th>Court Name</th>
										<th>Court Type</th>
									<th>Action</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="p,stats: ${courtlst}">
										<td th:text="${stats.count}"></td>
										<td th:text="${p.courtName}"></td>
										<!-- <td th:text="${p.courtType}"></td> -->
										<td	>
										<span th:switch="${p.courtType}"> <span
											th:case="'1'">Type1</span> <span
											th:case="'2'">Punishment</span> <span
											th:case="'3'">Discharge</span>
											 <span
											th:case="'4'">Stay</span>
										</span>
										</td>
										<td>
                                              
													
													<form th:action="@{/editCourt}" method="post"
												autocomplete="off" style="display:inline">
												<button class="btn btn-success text-wrap" type="submit"
													th:name="editCourt" th:value="${p.id}">Edit</button>
											</form>
											
											<form th:if="${p.active == true or p.active == null}" th:action="@{/deactivateCourt}" method="post"
												autocomplete="off"  style="display:inline">
												<button class="btn btn-warning text-wrap" type="submit"
													th:name="deactivateCourt" th:value="${p.id}" onclick="return confirm('Are you sure you want to deactivate this court?');">Deactivate</button>
											</form>
											
											<form th:if="${p.active == false }"
          th:action="@{/courtActivate}"
          method="post"
          style="display:inline">

        <input type="hidden" name="id" th:value="${p.id}">
        <button type="submit"
                class="btn btn-success btn-sm"
                onclick="return confirm('Activate this court?')">
            <i class="fa fa-check"></i> Activate
        </button>
    </form>
											

										</td>	
									</tr>
								</tbody>

							</table>
						</div>


					</div>

				</div>
			</div>
		</div>


		<script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
		<script
			src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {

				var table = $('#desigTable').DataTable({
					//		 	        lengthChange: false,
					buttons : [ 'copy', 'excel', 'pdf', 'print', 'colvis' ]
				});
			});
		</script>

	</div>

</body>
</html>