<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add New Location</title>
</head>

<body>

	<div layout:fragment="content">

		<div class="row pt-2 pb-2">
			<!-- <div class="col-sm-9">
				<h5 class="page-title"></h5>
			</div> -->
			<div class="col-sm-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="home">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Add New
						Location</li>
				</ol>
			</div>
		</div>


		<form th:action="@{/addNewLocation}" method="post"
			class="needs-validation" th:object="${addUnitlocation}"
			autocomplete="off">
             
                 <input type="hidden" th:field = "*{id}" >
			<div th:if="${message}" class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<div class="alert-icon">
					<i class="fa fa-check"></i>
				</div>
				<div class="alert-message">
					<span th:text="${message}"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h4 class="form-header text-uppercase">
								<i class="fa fa-address-book-o"></i> Location  Information
							</h4>
							<div class="form-group row">

								<label for="input-10" class="col-sm-2 col-form-label">Location  <span class="text-danger" >*</span></label>
								<div class="col-sm-4">
									<input type="text" class="form-control" th:field="*{location}"
										autocomplete="off" placeholder="Enter Unit Name" maxlength="100">
									<span class="text-danger"
										th:if="${#fields.hasErrors('location')}"
										th:errors="*{location}">Unit location Error</span>
								</div>

								<label for="input-10" class="col-sm-2 col-form-label">
									Unit Address <span class="text-danger" >*</span> </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" autocomplete="off"
										id="location" name="location" th:field="*{locAddress}"
										placeholder="Enter Location" maxlength="100"> <span
										class="text-danger" th:if="${#fields.hasErrors('locAddress')}"
										th:errors="*{locAddress}">Address Error</span>
								</div>
							</div>
														<div class="form-footer">
								<button type="reset" class="btn btn-danger">
									<i class="fa fa-times"></i> Clear
								</button>
								<th:block th:if="${addUnitlocation.Edit == false}">
								<button type="submit" class="btn btn-success">
									<i class="fa fa-check-square-o"></i> SAVE
								</button>
								</th:block>
								<th:block th:if="${addUnitlocation.Edit == true}">
								<button type="submit" class="btn btn-success">
									<i class="fa fa-check-square-o"></i> UPDATE
								</button>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>

			<div class="row">
				<div class="col-lg-12">
					<div class="card">
				<div class="card-header"><i class="fa fa-table" ></i> LOCATION DETAILS </div>
				 <div class="card-body">
                      <div class="table-responsive">
                       <table id="unitTable" class="table table-bordered">
                               <thead>
                                  <tr>
                               
											<th>S.No.</th>
											<th>Location</th>
											<th>Address</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
									 <tr th:each="p,stats: ${listunitloc}">
											<td th:text="${stats.count}"></td> 
											<td class="text-wrap" th:text="${p.location}"></td>
											<td class="text-wrap" th:text="${p.locAddress}"></td>
											<td>
												<form th:action="@{/editDetails}" method="post"autocomplete="off">
											
											<button class="btn btn-success text-wrap" type="submit"   th:name="editdetails" 
													        th:value="${p.Id}" >Edit</button>
													       </form> 
													        </td>
											
										</tr> 
									</tbody>

								</table>
							</div>
					

					</div>

				</div>
			</div>
		</div>

		<!-- <script type="text/javascript">
			$('#dob').datepicker({
				autoclose : true,
				todayHighlight : true,
				format : 'dd/mm/yyyy',
			});

			$('#joiningDate').datepicker({
				autoclose : true,
				todayHighlight : true,
				format : 'dd/mm/yyyy',
			});
		</script> -->


	<script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
		
		
			<script src="plugins/bootstrap-datatable/js/jquery.d.min.js"></script>
		 <script src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
	     <script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
         <script src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
         <script src="plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>
 
		<script type="text/javascript">
		$(document).ready(function(){
			
			 var table = $('#unitTable').DataTable( {
//		 	        lengthChange: false,
			        buttons: [ 'copy', 'excel', 'pdf', 'print', 'colvis' ]
			      } );
		});
		
		</script>


	</div>

</body>
</html>