
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add Clause</title>
</head>

<body>
	
		<div layout:fragment="content">
			<div class="row pt-2 pb-2">
				
				<div class="col-sm-3">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="home">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Add
							Clause</li>
					</ol>
				</div>
			</div>


			<form th:action="@{/addnewclause}" method="post"
				class="needs-validation" th:object="${clauseob}">
				<input type="hidden" th:field="*{id}">
				<div th:if="${massage}"
					class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<div class="alert-icon">
						<i class="fa fa-check"></i>
					</div>
					<div class="alert-message">
						<span th:text="${massage}"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<h4 class="form-header text-uppercase">
									<i class="fa fa-sitemap"></i> Add Clause
								</h4>

								<div class="form-group row">

									<label for="input-10" class="col-sm-2 col-form-label">
										Clause<span class="text-danger">*</span>
									</label>
									<div class="col-sm-4">
										<input type="text" class="inputTxt form-control"
											autocomplete="off"  th:field="*{clause}"
											placeholder="Enter Clause" required="required"
											maxlength="4" /> 
											<span class="text-danger" th:errors="*{clause}"></span>
									</div>

									<div class="col-sm-4">

										<button type="submit" class="btn btn-success">
											<i class="fa fa-plus"></i> Add
										</button>



										<button type="reset" class="btn btn-danger">
											<i class="fa fa-times"></i> CANCEL
										</button>
									</div>

								</div>


							</div>


						</div>
					</div>
				</div>

			</form>
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-table"></i> Clause Details
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="clauseTable" class="table table-bordered">

									<thead>
										<tr>
											<th>S.No.</th>
											<th>Clause</th>
											

										</tr>
									</thead>
									<tbody>
										<tr th:each="p,stats: ${clauselist}">
											<td th:text="${stats.count}"></td>
											<td th:text="${p.clause}"></td>
										</tr>
									</tbody>

								</table>
							</div>


						</div>

					</div>
				</div>
			</div>


			<script src="plugins/bootstrap-datatable/js/jquery.d.min.js"></script>
			<script
				src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
			<script src="plugins/bootstrap-datatable/js/jquery.d.min.js"></script>
			<script
				src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
			<script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
			<script
				src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
			<script
				src="plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>

			<script type="text/javascript">
				$(document).ready(function() {

					var table = $('#clauseTable').DataTable({
						//		 	        lengthChange: false,
						buttons : [ 'copy', 'excel', 'pdf', 'print', 'colvis' ]
					});
				});
			</script>

		</div>
</body>
</html>