<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Court Case</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row pt-2 pb-2">
			<!-- <div class="col-sm-8">
				<h5 class="page-title">Court Case</h5>
			</div> -->
			<div class="col-sm-4">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="home">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Court Case Name </a></li>

				</ol>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<form th:action="@{/saveCourtCaseName}" method="post"
					class="needs-validation" th:object="${courtCaseNameObj}">
					<input type="hidden" th:field=*{id}> <input type="hidden"
						th:name=${_csrf.parameterName} th:value=${_csrf.token}>
					<div th:if="${message}"
						class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<div class="alert-icon">
							<i class="fa fa-check"></i>
						</div>
						<div class="alert-message">
							<span th:text="${message}"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-body">
									<h4 class="form-header text-uppercase">
										<i class="fa fa-sitemap"></i> Add Court Case Name
									</h4>
									<div class="form-group row">
										<label for="input-10" class="col-sm-2 col-form-label">Court
											Case Name <span class="text-danger">*</span>
										</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" autocomplete="off"
												th:field="*{cCName}" name="cCName"
												placeholder="Enter Court Case Name" maxlength="100" /> <span
												class="text-danger" th:errors="*{cCName}"></span>
										</div>
										<label for="input-10" class="col-sm-2 col-form-label">Case
											Type <span class="text-danger">*</span>
										</label>
										<div class="col-sm-4">
											<select class="form-control" th:field="*{typeCase}">
												<option th:value="Select" th:utext="Select" />
												<option  th:value="NCLT" th:utext="NCLT" />
												<option  th:value="Criminal" th:utext="Criminal" />
											</select> <span class="text-danger" th:errors="*{typeCase}"></span>
										</div>
									</div>
									<div class="form-footer">
										<button type="reset" class="btn btn-danger">
											<i class="fa fa-times"></i> Reset
										</button>
										<th:block th:if="${courtCaseNameObj.Edit == false}">
											<button type="submit" class="btn btn-success">
												<i class="fa fa-check-square-o"></i> Save
											</button>
										</th:block>
										<th:block th:if="${courtCaseNameObj.Edit == true}">
											<button type="submit" class="btn btn-success">
												<i class="fa fa-check-square-o"></i> Update
											</button>
										</th:block>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="form-group row">
					<table class="table table-respnsive table-bordered">
						<thead class="bg-info text-white">
							<tr>
								<th>S.No.</th>
								<th>Court Case Name</th>
								<th>Court Case Type</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p,stats: ${list}">
								<td th:text="${stats.count}"></td>
								<td th:text="${p.cCName}"></td>
								<td th:text="${p.typeCase}"></td>
								<td><div class="d-flex">
										<form th:action="@{/editCourtCase}" method="post"
											autocomplete="off">
											<button type="submit" th:name="editCourtcase"
												class="btn btn-success mr-1" th:value="${p.id}">Edit</button>
										</form>
										<form th:action="@{/deleteCourtCase}" method="get"
											autocomplete="off">
											<button type="submit" th:name="deleteCourtcase"
												class="btn btn-danger" th:value="${p.id}">Delete</button>
										</form>
									</div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>