<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" type="text/css">
<title>Assign Cases</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row pt-2 pb-2">
			<div class="col-sm-5">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Total
						Added Cases</li>
				</ol>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="form-header text-uppercase">
							<i class="fa fa-address-book-o"></i> Added Cases
						</h4>

						<form th:action="@{/AdditionalInfo}" method="post"
							class="needs-validation" th:object="${caseDetails}"
							th:id="hearingDts">
							<input type="hidden" th:id="courtId" name="courtId">


							<div class="form-group row" th:if="${errorCaseID}">
								<span th:text="${errorCaseID}" class="text-danger "></span>
							</div>
							<div class="form-group row">
								  <table id="assignTable" class="table table-bordered">
									<thead  class="bg-info text-white">
										<tr>
											<th class="text-wrap">S.No.</th>
											<th class="text-wrap">Case Id</th>
											<th class="text-wrap">Court Case No</th>
											<th class="text-wrap">Case Title</th>
											<!-- <th class="text-wrap">Court Type </th>
											<th class="text-wrap">Filling Date  </th>
											<th class="text-wrap">Prosecution Case No  </th>
											<th class="text-wrap">Prosecution Sanction Order No  </th>
											<th class="text-wrap">Prosecution Case Date  </th>
											<th class="text-wrap">Prosecution Sanction Order File  </th>
											<th class="text-wrap">Cause Title  </th>
											<th class="text-wrap">Investigation MCA Order No</th> -->
											<th class="text-wrap">Role of SFIO</th>
											<th class="text-wrap">Add Additional Information</th>
											<th class="">Action</th>

										</tr>
									</thead>
									<tbody>


										<tr th:each="detail,iStat :${courtCasedtl}">
											<td th:text="${iStat.count}"></td>
											<td class = "text-wrap" th:text="${detail.invCaseDetail.caseId}">
											<td class = "text-wrap" th:text="${detail.courtCaseNo}">
											<td class = "text-wrap" th:text="${detail.invCaseDetail.caseTitle}">
											<td class = "text-wrap" th:text="${detail.sfioAs}">
											<td><button type="submit" class="btn btn-primary"
													th:name="addInfo" th:value="${detail.id}">Add
													Additional Information</button></td>

											<td><button type="submit" class="btn btn-success"
													th:name="ReturnHearingPage" th:value="${detail.id}">Add Hearing</button></td>



										</tr>


									</tbody>

								</table>
							</div>
						</form>

					</div>

				</div>
			</div>
		</div>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

		<script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
		<script
			src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/jszip.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/pdfmake.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/vfs_fonts.js"></script>
		<script src="plugins/bootstrap-datatable/js/buttons.html5.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/buttons.print.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/buttons.colVis.min.js"></script>
		<script type="text/javascript">

$(document).ready(function(){
	
	 var table = $('#assignTable').DataTable();

	  
	   
});


function backPage(courtID) {

	
	alert(Hello Moto);
	$('#hearingDts1').attr('action', 'updateInfo');
	$("#courtId").val(courtID)
	$('#hearingDts1').submit();
}


</script>
	</div>

</body>
</html>