<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add New Respondent</title>
</head>

<body>

	<div layout:fragment="content">

		<div class="row pt-2 pb-2">
			<!-- <div class="col-sm-9">
				<h5 class="page-title"></h5>
			</div> -->
			<div class="col-sm-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Add
						Accused Details</li>
				</ol>
			</div>
		</div>

		<div th:if="${message}" class="alert alert-success alert-dismissible"
			role="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div class="alert-icon">
				<i class="fa fa-check"></i>
			</div>
			<div class="alert-message">
				<span th:text="${message}"></span>
			</div>
		</div>


		<form th:action="@{/updateAccused}" method="post" th:id="AddDetail"
			th:object="${addAccused}" class="needs-validation"
			autocomplete="off">
			<input type="hidden" th:id="courtId" name="courtId"> <input
				type="hidden" th:field="*{id}"> <input type="hidden"
				th:field="*{procourtdtl}">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">


							<h4 class="form-header text-uppercase">
								<i class="fa fa-address-book-o"></i> Accused Details
							</h4>
							<div class="form-group row">
								<label for="input-10" class="col-sm-2 col-form-label">Company
									<span class="text-danger">*</span>
								</label>
								<div class="col-sm-4">
									<label class="col-sm-4 col-form-label text-primary"> <span
										th:text="${addAccused.company.company.companyName}"></span>
									</label>
								</div>

								<label for="input-10" class="col-sm-2 col-form-label">Pan
									Number <span class="text-danger">*</span>
								</label>

								<div class="col-sm-4">


									<label class="col-sm-4 col-form-label text-primary"> <span
										th:text="${addAccused.accusedMaster.panNumber}"></span>
									</label>

								</div>

							</div>
							<div class="form-group row">
								<label for="input-10" class="col-sm-2 col-form-label">Accused Name <span class="text-danger">*</span>
								</label>
											
											
											
											<div class="col-sm-4">
								
								<label class="col-sm-4 col-form-label text-primary"> <span
									th:text="${addAccused.accusedMaster.accusedName}"></span>
								</label>
							</div>

							<label for="input-16" class="col-sm-2 col-form-label">
								Designation <span class="text-danger">*</span>
							</label>
							<div class="col-sm-4">

                    <label class="col-sm-4 col-form-label text-primary"> <span
									th:text="${addAccused.designation.designation}"></span>
								</label>
														
							
							</div>


						</div>

						<div class="form-group row">

							<label for="input-10" class="col-sm-2 col-form-label">Status
								<span class="text-danger">*</span>
							</label>
							<div class="col-sm-4">
								<select class="custom-select"
									th:field="*{accusedstatus}" id="chooseStatus">

									<option th:each="s : ${statusLst}" th:value="${s.id}"
										th:text="${s.statusName}"></option>

								</select> <span id="chooseCompErr" style="color: red;"
									th:errors="*{accusedstatus}"></span>
							</div>



						</div>



					</div>




					<div class="form-footer">
						<button type="reset" class="btn btn-danger">
							<i class="fa fa-times"></i> Reset
						</button>
						<button type="submit" class="btn btn-success" id="save_btn">
							<i class="fa fa-check-square-o"></i> SAVE
						</button>
						<button type="button" class="btn btn-dark" id="update_btn"
							th:onclick="'backPage(\'' + ${courtdtl} +'\');'">
							<i class="fa fa-check-square-o"></i> Back
						</button>
					</div>
				</div>
			</div>
	
	</form>


	<script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
	<script
		src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript">
		
		
		
		function backPage(courtID) {
			
			 $('#AddDetail').attr('action', 'AdditionalInfo');
    			$("#courtId").val(courtID)
    			$('#AddDetail').submit();
		}
			
		</script>

	<script type="text/javascript" src="js/customValidation.js"></script>




	</div>

</body>
</html>