<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="fragment/header :: header">
<title>Header</title>
</head>

<body>

<div id="wrapper">

	<!-- <div th:replace="fragment/sidebar :: sidebar"></div> -->
	
	<div th:replace="fragment/topbar :: topbar"></div>
	
  <div class="content-wrapper">
   <div class="container-fluid">

				<div layout:fragment="content">
				
				</div>
	<div class="overlay toggle-menu"></div>			
</div>
	</div>


	<div th:replace="fragment/footer :: footer"></div>
</div>
</body>

</html>