<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Home</title>

<meta name="keywords" content="Home" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="css/spinner.css"/>
  <link rel="stylesheet" href="css/pace.min.css" />
 <link href="css/pace.min.css" rel="stylesheet"/>
  <script src="js/pace.min.js"></script>
  
  <script src="js/apexcharts.js"></script>
  <!--
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>-->
  
  
    <!-- jquery steps CSS-->
  <link rel="stylesheet" type="text/css" href="plugins/jquery.steps/css/jquery.steps.css">
  <!-- favicon -->
  <link rel="icon" href="images/India_flag.png" type="image/x-icon"/>
<!--   Vector CSS -->
  <link href="plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
<!--   simplebar CSS -->
  <link href="plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet"/>
 <!--  animate CSS -->
  <link href="css/animate.css" rel="stylesheet" type="text/css"/>
<!--   Icons CSS -->
  <link href="css/icons.css" rel="stylesheet" type="text/css"/>
 <!--  Sidebar CSS -->
  <link href="css/sidebar-menu.css" rel="stylesheet"/>
  <!-- Custom Style -->
  <link href="css/app-style.css" rel="stylesheet"/>
 <!--  skins CSS -->
  <link href="css/skins.css" rel="stylesheet"/>	  
  
  <!--text editor-->
  <link rel="stylesheet" href="plugins/summernote/dist/summernote-bs4.css"/>
  
   <!-- Dropzone css -->
  <link href="plugins/dropzone/css/dropzone.css" rel="stylesheet" type="text/css">
  
  <!--Bootstrap Datepicker-->
  <link href="plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
  
    <!-- notifications css -->
  <link rel="stylesheet" href="plugins/notifications/css/lobibox.min.css"/>
  
   <!-- vertical timeline CSS-->
  <link href="plugins/vertical-timeline/css/vertical-timeline.css" rel="stylesheet"/>
  
  <link rel="stylesheet" href="css/jquery-confirm.min.css">
  
  
   <!--Data Tables -->
<!--   <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
  
  <link href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css" rel="stylesheet" type="text/css">
  <link href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" rel="stylesheet" type="text/css">
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
  
  
     <!--  Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

<!--  Sweet alert js -->
<script src="js/sweetalert2@11.js"></script>
	
<!--  simplebar js -->
  <script src="plugins/simplebar/js/simplebar.js"></script>
  <!-- sidebar-menu js -->
  <script src="js/sidebar-menu.js"></script>

<!--   loader scripts -->
<!--   Custom scripts -->
  <script src="js/app-script.js"></script>
<!--   Chart js -->
  
  <script src="plugins/Chart.js/Chart.min.js"></script>
<!--   Vector map JavaScript -->
  <script src="plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
  <script src="plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
<!--   Easy Pie Chart JS -->
  <script src="plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
 <!--  Sparkline JS -->
  <script src="plugins/sparkline-charts/jquery.sparkline.min.js"></script>
  <script src="plugins/jquery-knob/excanvas.js"></script>
  <script src="plugins/jquery-knob/jquery.knob.js"></script> 	
  
  
  <script src="plugins/alerts-boxes/js/sweetalert.min.js"></script>
  <script src="plugins/alerts-boxes/js/sweet-alert-script.js"></script>
  
 
  <!--Form Wizard-->
  <script src="plugins/jquery.steps/js/jquery.steps.min.js"></script>
  <script src="plugins/jquery-validation/js/jquery.validate.min.js"></script>
  <!--wizard initialization-->
  <script src="plugins/jquery.steps/js/jquery.wizard-init.js"></script>
	
 <!-- Dropzone JS  -->
  <script src="plugins/dropzone/js/dropzone.js"></script>
  <script src="plugins/summernote/dist/summernote-bs4.min.js"></script>
  
   <!--Bootstrap Datepicker Js-->
    <script src="plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    
      <!--notification js -->
  <script src="plugins/notifications/js/lobibox.min.js"></script>
  <script src="plugins/notifications/js/notifications.min.js"></script>
  <script src="plugins/notifications/js/notification-custom-script.js"></script>
  
  
   <!--Sweet Alerts -->
  <script src="plugins/alerts-boxes/js/sweetalert.min.js"></script>
  <script src="plugins/alerts-boxes/js/sweet-alert-script.js"></script>
  
   <!-- Vertical timeline js -->
  <script src="plugins/vertical-timeline/js/vertical-timeline.js"></script>
  
    <!--Form Validatin Script-->
  <script src="plugins/jquery-validation/js/jquery.validate.min.js"></script>
  
  <!-- table to json  -->
  
  <script src="js/jquery.tabletojson.min.js"></script>
	
  
  
<!--   <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
  <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script> -->
  
   <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
  
  <script type="text/javascript">
$(document).ready(function(){
	$('form').submit(function(){
		$('body').append('<div class="loading">Loading&#8230;</div>');
	});
});
</script>
  
      <script>
        $(function() {
            $(".knob").knob();
        });
    </script>
  <!-- Index js -->
  


</head>

<body>


</body>

</html>