<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Insert title here</title>

</head>

<body>

	<!--Start topbar header-->
	<header class="topbar-nav" th:fragment="topbar">
		<nav id="header-setting" class="navbar navbar-expand fixed-top">
			<ul class="navbar-nav mr-auto align-items-center">
				<li class="nav-item">
					<a class="nav-link toggle-menu" href="javascript:void();">
						<i class="icon-menu menu-icon"></i>
					</a>
				</li>
				<li class="nav-item">
					&nbsp;&nbsp;&nbsp;&nbsp;
				</li>
				<li>
					<h3></h3>
				</li>
			</ul>

			<ul class="navbar-nav align-items-center right-nav-link">
				<!--  <li>Welcome <a href="#"><span sec:authentication="name" id="test"></span></a></li> -->

				<li>Welcome <a href="#">
						<span sec:authorize="!hasRole('ROLE_PROSECUTORUNITHEAD')">
							<span th:text="${session.userfname}"></span>
							<br>
							<span th:text="|(Designation: ${session.userdesignation} ) |"></span>
							<br>
						</span>

						<span sec:authorize="hasRole('ROLE_ADMIN')">(Role: ADMIN)</span>
						<span sec:authorize="hasRole('ROLE_OFFICER')">(Role: OFFICER)</span>
						<span sec:authorize="hasRole('ROLE_NODAL_OFFICER')">(Role: NODAL OFFICER)</span>
						<span sec:authorize="hasRole('ROLE_PUH_STAFF')">(Role: PUH STAFF)</span>
						<span sec:authorize="hasRole('ROLE_PUH')">(Role: PUH)</span>

						<span sec:authorize="hasRole('ROLE_PROSECUTORUNITHEAD')">
							<span th:text="${session.userName == 'puh@sfio.in' ? 'Additional Director (Prosecution)' : 
   		                       (session.userName == 'puh1@sfio.in' ? 'Joint Director (Prosecution)' : '')}">
							</span>
						</span>
					</a></li>


				<li class="nav-item">
					<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
						<span class="user-profile"><img src="images/avatars/profilepic.jpg" class="img-circle"
								alt="user avatar"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">

						<li class="dropdown-item user-details">
							<a href="javaScript:void();">
								<div class="media">
									<div class="avatar"><img class="align-self-start mr-3"
											src="images/avatars/profilepic.jpg" alt="user avatar"></div>
									<div class="media-body">

										<h6 class="mt-2 user-title"><span sec:authentication="name" class="text-wrap"
												id="name" style="display: none"></span>
											<span class="text-wrap" id="name1"></span>

										</h6>
										<p class="user-subtitle"></p>
									</div>
								</div>
							</a>
						</li>

						<li class="dropdown-divider"></li>
						<li class="dropdown-item"><a href="changePassword" class="btn btn-block"><i
									class="icon-key mr-2"></i> Change Password</a></li>
						<li class="dropdown-divider"></li>
						<li class="dropdown-item"><a href="logout" class="btn btn-block"><i class="icon-power mr-2"></i>
								Logout</a></li>
					</ul>
				</li>
				</li>

			</ul>
		</nav>
	</header>

</body>

</html>