<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" type="text/css">
<link href="plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css"
	rel="stylesheet" type="text/css">
<title>Pending Sanction Orders for Finalization</title>

</head>

<body>

	<div layout:fragment="content">
	<div th:if="${message}" class="alert alert-success alert-dismissible"
			role="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div class="alert-icon">
				<i class="fa fa-check"></i>
			</div>
			<div class="alert-message">
				<span th:text="${message}"></span>
			</div>
		</div>

		<div class="row pt-2 pb-2">
			<!-- <div class="col-sm-9">
				<h5 class="page-title"></h5>
			</div> -->
			
			<div class="col-sm-3">
				<ol class="breadcrumb">


					<li class="breadcrumb-item"><a href="puhHome">Home</a></li>



					<li class="breadcrumb-item active" aria-current="page">Assign task After Sanction Order</li>
				</ol>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="form-header ">Assign task After Sanction Order

						</h4>


						<form th:action="@{/assignTaskSec}" method="post"
							th:object="${assignedTaskPuh}" id="viewPendingTaskdtl1">
							<meta name="_csrf" th:content="${_csrf.token}"/>
							<meta name="_csrf_header" th:content="${_csrf.headerName}"/>


							<div class="table-responsive">
								<table class="table table-bordered" id="assignedTable">
									<thead class="bg-info text-white">
										<tr>
											<th>S.No.</th>
										


											<th>PROSECUTION SANCTION ORDER NO</th>
											<th>SANCTION DATE </th>


											<th>ORDER FILE</th>
											<th>Company Name</th>
											
											<th>Forwarded by</th>


											<!--<th>Change Prioty</th>-->
											<th>Action</th>
											


										</tr>
									</thead>
									<tbody>
										<tr th:each="p,stats: ${lstCourtCase}">
											<td th:text="${stats.count}"></td>

											<td th:text="${p.proSectionOrderNumber}">
											</td>
											
											
											<td th:text="${#dates.format(p.proSanctionDate, 'dd/MM/yyyy')}">
																								</td>


											<td >
											
											
											<label class=" col-form-label text-primary"> <a
										th:target="_blank"
										th:href="@{|/downloadFiles?fileName=${p.proSanctionFileName}|}"><span
											>View</span>
											  <span th:unless="${p.proSanctionFileName==null}"><i
											class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i></span></a></label> 
											
											
											
											</td>
											<td th:text="${p.caseTitle}"></td>
											
											
											
											<td	th:text="${p.createdBy.salutation + ' ' 
									            + p.createdBy.firstName + ' ' 
									            + (p.createdBy.middleName ?: '') + ' ' 
									            + p.createdBy.lastName}">
											</td>
											<!--<td>
											    <select class="form-control" th:id="'priority_'+${p.id}">
											        <option value="1">Routine Case</option>
											        <option value="2">Advance stage of trial case</option>
											        <option value="3">High Priority case</option>
											    </select>

											    <button type="button"
											            class="btn btn-success"
											            th:value="${p.id}"
											            onclick="chaloChangeKaroStatus(this.value)">
											        Change
											    </button>
											</td>-->
																						
											
											<td>
											
											<button type="submit" th:name="assignTaskSec" class="btn btn-success"
														th:value="${p.id}" >Assign
														Task</button>

														<!--<span th:if="${p.caseStatusCheck == 1}" 
														      class="bg-success p-2 rounded-pill text-white">
														      Routine Case
														</span>

														<span th:if="${p.caseStatusCheck == 2}" 
														      class="bg-warning p-2 rounded-pill text-white">
														      Advance stage of trial case
														</span>

														<span th:if="${p.caseStatusCheck == 3}" 
														      class="bg-danger p-2 rounded-pill text-white">
														      High Priority case
														</span>-->
												</td>
													
											

										</tr>


									</tbody>

								</table>
							</div>


						</form>




					</div>

				</div>
			</div>
		</div>
		<script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
		<script
			src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {

				var table = $('#assignedTable').DataTable({
					//		 	        lengthChange: false,
					buttons : [ 'copy', 'excel', 'pdf', 'print', 'colvis' ]
				});
			});
		</script>

		<script type="text/javascript">
		$(document).ready(function(){

		    // code to read selected table row cell data (values).
		    $("#assignedTable").on('click','.btnSelect',function(){
		         // get the current row
		         var currentRow=$(this).closest("tr"); 
		         
		         
		        var id=currentRow.find("td:eq(1)").text(); // get current row 2nd TD
		        var user=currentRow.find("td:eq(2)").text(); // get current row 2nd TD
		     
					$('#viewPendingTaskdtl1').attr('action', 'initiateApprove');
					 $('#id').val(id);
					 $('#user').val(user);
				      
				      alert($('#id').val());
				      alert($('#user').val());
				      
				     
					$('#viewPendingTaskdtl1').submit(); 
				
		    });
		});
		
		
		</script>
		<script>
		function chaloChangeKaroStatus(id){

		    var priority = document.getElementById("priority_"+id).value;

		    window.location.href = "/Prosecution/updateCasePriority?caseId=" + id + "&priority=" + priority;

		}
		</script>
	</div>




</body>
</html>