<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add New Designation</title>
</head>

<body>

	<div layout:fragment="content">

		<div class="row pt-2 pb-2">
			<!-- <div class="col-sm-9">
				<h5 class="page-title"></h5>
			</div> -->
			<div class="col-sm-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Add Task
						</li>
				</ol>
			</div>
		</div>


		<form th:action="@{/editTaskPuh}" method="post"
			class="needs-validation"  th:object="${taskPuhList}">


			<div th:if="${message}" class="alert alert-success alert-dismissible"
				role="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<div class="alert-icon">
					<i class="fa fa-check"></i>
				</div>
				<div class="alert-message">
					<span th:text="${message}"></span>
				</div>
			</div>


			

			<!-- Saurabh Changes Start -->


			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h4 class="form-header text-uppercase">
								<i class="fa fa-address-book-o"></i>
								<h4>Show Tasks List</h4>


								<!--  <button type="button" th:onclick="addNewTask();" 
									class="btn btn-success">Add New</button>
							</h4>  -->



							<div class="form-group row">
								<table class="table table-respnsive" id="AddActTable">
									<thead class="bg-info text-white">
										<tr>
											<th>S.No.</th>
											<th>Task</th>
											<th>Court Name</th>
											<th>Investigation Unit</th>	
											<th>Action</th>

										</tr>
									</thead>
									<tbody>
										<tr th:each="p,stats: ${assignedTasklst}">
											<td th:text="${stats.count}"></td>

											<!-- for finding data from different database table  -->
											<td th:text="${p.task}"></td>
										<!-- 	<td th:text="${p.courtName.courtName}"></td> -->
											<td th:text="${p.unitName.unitName}"></td>


											<td>
												

													<button class="btn btn-info dropdown-toggle" type="button"
														data-toggle="dropdown">
														Action <span class="caret"></span>
													</button>

													<div class="dropdown-menu">

														<!-- <button type="submit" th:name="caseDetails" th:id="caseId"
																th:value="${detail.id}" class="dropdown-item" >View case Details</button>
		 -->

														<button type="submit" th:name="editingTaskPuh"
															th:value="${p.id}" class="dropdown-item">Edit
															Task</button>

													 	<!-- <button type="submit" class="dropdown-item">DeActive
															Act Sec</button>  -->
														
															 
															
													</div>
											</td>

											<!-- 	<td	><button type="submit" th:name=""
											th:value="${}" class="btn btn-info">hello</button></td>-->

											<!-- Q ->	how create JavaScript Validation?	 -->

										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>






			<script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
			<script
				src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>

			<script type="text/javascript">
			
			$(document).ready(function(){
				 var table = $('#AddActTable').DataTable( {
//			 	        lengthChange: false,
				        buttons: [ 'copy', 'excel', 'pdf', 'print', 'colvis' ]
				      } );
			});
			
		 	/* function addNewTask() {
		 		//alert("inside method")
				$('#NewactSec').attr('action', 'addNewSec');
	  			
	  			$('#NewactSec').submit();
			}  */
		</script>
	</div>

</body>
</html>