<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>All Designation</title>
<style>

/* .modal-dialog {
    /* max-width: 1200px;
    margin: 1.75rem auto; */

*
/
</style>


</head>
<body>
	<div layout:fragment="content">
		<div class="row pt-2 pb-2">
			<div class="col-sm-5">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="puhHome">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Assign
						Task</li>
				</ol>
			</div>


		</div>

		<div class="pb-2">

			<h5 th:if="${#lists.size(TasksLst)==1}"
				class="text-danger text-center">Kindly approve 'Add Court Case
				Details' before assigning other tasks</h5>

		</div>



		<form th:action="@{/assignedTaskPuh}" method="post"
			class="needs-validation" th:object="${assignedTaskPuh}">



			<div th:if="${message}" class="alert alert-success alert-dismissible"
				role="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<div class="alert-icon">
					<i class="fa fa-check"></i>
				</div>
				<div class="alert-message">
					<span th:text="${message}"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h4 class="form-header text-uppercase">
								<i class="fa fa-sitemap"></i> Assign Task
							</h4>
							<input type="hidden" th:field="*{addCase}">


							<div class="form-group row">

								<label for="input-16" class="col-sm-2 col-form-label">
									Prosecution Sanction Order No <span class="text-danger">*
								</span>
								</label>
								<div class="col-sm-4">


									<label class="col-form-label text-primary" id="CourtNo">
										<span th:id="CourtNo"
										th:text="${addCase.proSectionOrderNumber}"></span>
									</label>




								</div>


								<label for="input-16" class="col-sm-2 col-form-label">
									Prosecution Sanction Date <span class="text-danger">* </span>
								</label>
								<div class="col-sm-4">


									<label class="col-form-label text-primary" id="CourtNo">
										<span th:id="CourtNo"
										th:text="${#dates.format(addCase.proSanctionDate, 'dd/MM/yyyy')}"></span>
									</label>



								</div>


							</div>

							<div class="form-group row" id="prosecutionSFile">
								<label for="input-16" class="col-sm-2 col-form-label">
									Prosecution Sanction Order File <span class="text-danger">
										* </span>
								</label>

								<div class="col-sm-4">
									<label class=" col-form-label text-primary"> <a
										th:target="_blank"
										th:href="@{|/downloadFiles?fileName=${addCase.proSanctionFileName}|}"><span
											th:text="${addCase.proSanctionFileName}"></span> <span
											th:if="${addCase.proSanctionFileName}"><i
												class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i></span></a></label>


								</div>






								<label for="input-16" class="col-sm-2 col-form-label">
									File Number </label>
								<div class="col-sm-4">

									<label class="col-form-label text-primary" id="CourtNo">
										<span th:id="CourtNo" th:text="${addCase.fileNumber}"></span>
									</label>

								</div>




							</div>

							<div class="form-group row">
								<label for="input-16" class="col-sm-2 col-form-label">
									Type of case <span class="text-danger">*</span>

								</label>
								<div class="col-sm-4">


									<label class="col-form-label text-primary" id="CourtNo">
										<span th:id="typeOfCase"
										th:text="*{addCase.typeOfCase.typeOfCase}"></span>
									</label>

								</div>
								<label for="input-16" class="col-sm-2 col-form-label">
									Investigation Order No.<span class="text-danger">*</span>

								</label>
								<div class="col-sm-4">


									<label class="col-form-label text-primary" id="CourtNo">
										<span th:id="typeOfCase"
										th:text="*{addCase.investigationOrderNo}"></span>
									</label>

								</div>
							</div>

							<div class="form-group row">


								<label for="input-16" class="col-sm-2 col-form-label">
									Case Title /Company Name <span class="text-danger">*</span>

								</label>
								<div class="col-sm-4">


									<label class="col-form-label text-primary" id="CourtNo">
										<span th:id="CourtNo" th:text="${addCase.caseTitle}"></span>
									</label>

								</div>

								<label for="input-16" class="col-sm-2 col-form-label">
									View Court Case Details <span class="text-danger">*</span>

								</label>
								<div class="col-sm-4">


									<button type="button" class="btn btn-primary"
										data-toggle="modal" data-target="#exampleModalCenter">
										View Details</button>

								</div>


							</div>



							<div class="modal fade bd-example-modal-xl"
								id="exampleModalCenter" tabindex="-1" role="dialog"
								aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document"
									style="width: 1200px;">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLongTitle">
												Court Case Details</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="card">
												<div class="card-body">
													<i class="fa fa-address-book-o"></i> Court Case Details
													<h4 class="form-header text-uppercase"></h4>

													<div class="form-group row">

														<label for="input-16" class="col-sm-2 col-form-label">SFIO
															As <span class="text-danger">:</span>
														</label>
														<div class="col-sm-4">
															<label class="col-form-label text-primary" id="CourtNo">
																<span th:id="CourtNo"
																th:text="${pcrtdtls.sfioAs.SfioAs}"></span>
															</label>

														</div>


													</div>

													<div class="form-group row">


														<label for="input-10" class="col-sm-2 col-form-label">Court
															Type <span class="text-danger">:</span>
														</label>
														<div class="col-sm-4">
															<label class="col-form-label text-primary" id="CourtNo">
																<span th:id="CourtNo"
																th:text="${pcrtdtls.courtType.courtName}"></span>
															</label>

														</div>
															<th:block th:if="${pcrtdtls.addCase.type.id==2}">
								<label for="input-10" class="col-sm-2 col-form-label">State
									<span class="text-danger">:</span>
								</label>
								<div class="col-sm-4">
									<label class="col-form-label text-primary" id="CourtNo">
										<span th:id="CourtNo" th:text="${pcrtdtls.state.state}"></span>
									</label>

								</div></th:block>
								<th:block th:if="${pcrtdtls.addCase.type.id==1}">
								<label for="input-10" class="col-sm-2 col-form-label">Bench Name
									<span class="text-danger">:</span>
								</label>
								<div class="col-sm-4">
									<label class="col-form-label text-primary" id="CourtNo">
										<span th:id="CourtNo" th:text="${pcrtdtls.bench_Name.bench}"></span>
									</label>

								</div></th:block>

													</div>
													<div class="form-group row">
														<th:block th:if="${pcrtdtls.courtType.id!=3}">
															<label for="input-10" class="col-sm-2 col-form-label">City
																<span class="text-danger">:</span>
															</label>
															<div class="col-sm-4">
																<label class="col-form-label text-primary" id="CourtNo">
																	<span th:id="CourtNo"
																	th:text="${pcrtdtls.city.districtName}"></span>
																</label>

															</div>
														</th:block>
														<label for="input-16" class="col-sm-2 col-form-label">Court
															Case No <span class="text-danger">:</span>
														</label>
														<div class="col-sm-4">
															<label class="col-form-label text-primary" id="CourtNo">
																<span th:id="CourtNo" th:text="${pcrtdtls.courtCaseNo}"></span>
															</label>
														</div>


													</div>
													<div class="form-group row">

														<label for="input-16" class="col-sm-2 col-form-label">
															Filling Date <span class="text-danger">:</span>
														</label>
														<div class="col-sm-4">
															<label class="col-form-label text-primary"> <span
																th:id="fillingDate"
																th:text="${#dates.format(pcrtdtls.fillingDate, 'dd/MM/yyyy')}"></span></label>






														</div>
														<label for="input-16" class="col-sm-2 col-form-label">
															Cause Title <span class="text-danger">:</span>
														</label>
														<div class="col-sm-4">
															<label class="col-form-label text-primary"> <span
																th:text="${pcrtdtls.causeTitle}"></span></label>

														</div>

													</div>


													<div class="form-group row">

														<label for="input-16" class="col-sm-2 col-form-label">
															Prosecution Sanction Order No <span class="text-danger">:
														</span>
														</label>
														<div class="col-sm-4">
															<label class="col-form-label text-primary"> <span
																th:text="${pcrtdtls.assignedTask.addCase.proSectionOrderNumber}"></span></label>

														</div>



														<label for="input-16" class="col-sm-2 col-form-label">
															Prosecution Sanction Order Date <span class="text-danger">
																:</span>
														</label>
														<div class="col-sm-4">
															<label class="col-form-label text-primary"> <span
																th:text="${#dates.format(pcrtdtls.assignedTask.addCase.proSanctionDate, 'dd/MM/yyyy')}"></span></label>


														</div>

													</div>


													<div class="form-group row">
														<label for="input-16" class="col-sm-2 col-form-label">
															Prosecution Sanction Order File <span class="text-danger">:
														</span>
														</label>

														<div class="col-sm-4">
															<label class=" col-form-label text-primary"> <a
																th:target="_blank"
																th:href="@{|/downloadFiles?fileName=${pcrtdtls.assignedTask.addCase.proSanctionFileName}|}"><span>View</span><i
																	class="fa fa-file-pdf-o"
																	style="font-size: 24px; color: red"></i></a></label>
														</div>


														<label for="input-16" class="col-sm-2 col-form-label">
															Court Case File <span class="text-danger">: </span>
														</label>

														<div class="col-sm-4">
															<label class=" col-form-label text-primary"> <a
																th:target="_blank"
																th:href="@{|/downloadFiles?fileName=${pcrtdtls.gistFile}|}"><span>View</span><i
																	class="fa fa-file-pdf-o"
																	style="font-size: 24px; color: red"></i></a></label>
														</div>





													</div>
													<div class="form-group row">

														<label for="input-16" class="col-sm-2 col-form-label">
															CNR Number <span class="text-danger">:</span>
														</label>
														<div class="col-sm-4">
															<label class="col-form-label text-primary"> <span
																th:text="${pcrtdtls.cnrNumber}"></span></label>

														</div>

													</div>

													<!-- <div class="col-sm-6">
														<div class="table-responsive">
															<h4 style="font-size: 16px">Act & Section</h4>
															<table id="CompTable1" class="table table-bordered">
																<thead class="bg-info text-white">


																	<tr style="font-size: 15px">
																		<th>S.No</th>
																		<th>ACT</th>
																		<th>Section</th>
																		<th>Sub Section</th>
																		<th>Description</th>


																	</tr>
																</thead>
																<tbody>
																	<tr th:each="p,stats: ${seclist}">
																		<td th:text="${stats.count}"></td>
																		<td th:text="${p.Act.act}"></td>
																		<td th:text="${p.Section.section}"></td>

																		<td><span
																			th:if="${p.SubSection.subSection == 'Choose'}"></span>
																			<span th:if="${p.SubSection.subSection != 'Choose'}"><span
																				th:text="${p.SubSection.subSection}"></span></span></td>


																		<td th:text="${p.Description}"></td>

																	</tr>
																</tbody>



															</table>
														</div>
													</div> -->




													<div class="form-group row">

														<label for="input-16" class="col-sm-2 col-form-label">
															Brief <span class="text-danger">:</span>
														</label>
														<div class="col-sm-10">

															<label class="col-sm-12 col-form-label"> <span
																th:text="${pcrtdtls.brief}"></span></label>


														</div>
													</div>

													<div class="form-group row">

														<label for="input-16" class="col-sm-2 col-form-label">
															BACKGROUND OF THE CASE <span class="text-danger">:</span>
														</label>
														<div class="col-sm-10">

															<label class="col-sm-12 col-form-label"> <span
																th:text="${pcrtdtls.backgroundofcase}"></span></label>


														</div>
													</div>
												</div>
											</div>




										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
										</div>
									</div>
								</div>
							</div>







							<div class="form-group row">

								<label for="input-16" class="col-sm-2 col-form-label">
									Task Assign <span class="text-danger">*</span>
								</label>

								<div class="col-sm-4">
									<select class="form-control" th:field="*{createTask}"
										id="createTask" onchange="geSubTask(this);">
										<!-- 	<option th:value="0" th:utext="Choose" /> -->
										<option th:each="task:${TasksLst}" th:value="${task.id}"
											th:utext="${task.task}" />
									</select> <span class="text-danger" th:errors="*{createTask}"></span>
								</div>




								<label for="input-16" class="col-sm-2 col-form-label" id="sublb">
									Sub Task <span class="text-danger">*</span>
								</label>

								<div class="col-sm-4">
									<select class="form-control" th:field="*{subtask}" id="Subtask">
										<option th:value="0" th:utext="Choose" />
										<option th:each="task1:${subtask}" th:value="${task1.id}"
											th:utext="${task1.subTaskName}" />


									</select><span class="text-danger" th:errors="*{Subtask}"></span>
								</div>





							</div>




							<div class="form-group row">


								<label for="input-16" class="col-sm-2 col-form-label">Unit
									<span class="text-danger">*</span>
								</label>
								<div class="col-sm-4">
									<select class="form-control" th:field="*{unit}" id="udetails"
										onchange="getLinkinspectorList(this);">
										<option th:value="0" th:utext="Choose" />
										<option th:each="udtls:${udetails}" th:value="${udtls.unitId}"
											th:utext="${udtls.unitName}" />
									</select> <span class="text-danger" th:errors="*{unit}"></span>
								</div>



								<label for="input-16" class="col-sm-2 col-form-label">Officer
									<span class="text-danger">*</span>
								</label>
								<div class="col-sm-4">
									<select class="form-control" th:field="*{user}" id="pofficer">
										<option th:value="0" th:utext="Choose" />
										<option th:each="pofc:${pofficer}" th:value="${pofc.id}"
											th:utext="${pofc.name}" />
									</select><span class="text-danger" th:errors="*{user}"></span>
								</div>

							</div>


							<div class="form-group row">
								<label for="input-16" class="col-sm-2 col-form-label">Role
									Of SFIO As <span class="text-danger">*</span>
								</label>
								<div class="col-sm-4">
									<select class="form-control" th:field="*{sfioAs}" id="pcrtdtls">
										<option th:value="0" th:utext="Choose" />
										<option th:each="pdtls:${sfiolst}" th:value="${pdtls.id}"
											th:utext="${pdtls.sfioAs}" />
									</select><span class="text-danger" th:errors="*{sfioAs}"></span>
								</div>

							</div>

							<div class="col-sm-4">
								<a href="ListOfCourtCase" class="btn btn-dark">Back</a>
								<button type="submit" class="btn btn-success">
									<i class="fa fa-check-square-o"></i> Save
								</button>
								<button type="reset" class="btn btn-danger">
									<i class="fa fa-times"></i> Reset
								</button>
							</div>






						</div>
					</div>
				</div>
			</div>

		</form>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="form-header text-uppercase">
							<i class="fa fa-user"></i> Assigned Task List
						</h4>

						<div class="form-group row">
							<table class="table table-striped table-bordered" id="desigTable">
								<thead class="bg-info text-white">
									<tr>
										<th>S.No.</th>
										<!-- <th>Assigned Cases</th>
										<th>Court Type</th> -->
										<th>Task Assigned</th>
										<th>Unit Assigned</th>
										<th>Assigned to Officer</th>
										<th>Sfio As</th>
										<!-- <th>Action</th> -->



									</tr>
								</thead>
								<tbody>
									<tr th:each="p,stats: ${assignedTask}">
										<td th:text="${stats.count}"></td>

										<!-- <td th:text="${p.proCourtCase.courtCaseNo}"></td>
										<td th:text="${p.court.courtName}"></td> -->
										<td th:text="${p.createTask.task}"></td>
										<td th:text="${p.unit.unitName}"></td>
										<td><span class="text-wrap" th:text="${p.user.firstName}"></span>
											</th:block> <th:block th:if="${p.user.middleName != null}">
												<span class="text-wrap" th:text="${p.user.middleName}"></span>
											</th:block> <th:block th:if="${p.user.lastName != null}">
												<span class="text-wrap" th:text="${p.user.lastName}"></span>
											</th:block></td>
										<td th:text="${p.sfioAs.SfioAs}"></td>
										<!-- 	<td>
														<form th:action="@{/editPuh}" method="post"autocomplete="off">
		
			
													<button type="submit"   th:name="editPuh" class="btn btn-success text-wrap"
													        th:value="${p.id}"  >Edit</button>
													        </form>
													        </td> -->


									</tr>


								</tbody>

							</table>
						</div>


					</div>

				</div>
			</div>
		</div>

		<script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
		<script
			src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript">
			$(document)
					.ready(
							function() {

								var table = $('#desigTable').DataTable(
										{
											//		 	        lengthChange: false,
											buttons : [ 'copy', 'excel', 'pdf',
													'print', 'colvis' ]
										});

								if ($('#udetails').val() != null) {
									var unitid = $('#udetails').val();

									var token = $("input[name=_csrf]").val();
									var header = 'X-CSRF-TOKEN';
											$(document).ajaxSend(
													function(e, xhr, options) {
														xhr.setRequestHeader(
																header, token);
													}),
											$
													.ajax({
														crossDomain : true,
														type : "GET",
														url : "getInspectorListReportByUnitId?unitId="
																+ unitid,

														/* 	url : "showsSectionList?actId="
																+ 1, */
														contentType : "application/json; charset=utf-8",
														/* data:{caseId:caseId
														}, */
														cache : false,
														timeout : 600000,
														success : function(data) {

															var html = '';
															var len = data.length;
															$("#pofficer")
																	.empty();
															$("#pofficer")
																	.append(

																	"<option value='0'>Choose</option>");
															for (var i = 0; i < len; i++) {
																var id = data[i]['id'];
																var name = data[i]['fullName']
																		+ data[i]['designation2'];

																$("#pofficer")

																		.append(

																				"<option value='"+id+"'>"
																						+ name
																						+ "</option>");

															}
														},
														error : function(xhr,
																status, error) {
															alert('error in getting count');
														}
													});

								}

								if ($('#createTask').val() != null) {

									//	alert("createtask")

									//if( $('#Subtask').val()==null){ 

									var taskId = $('#createTask').val();
									var token = $("input[name=_csrf]").val();
									var header = 'X-CSRF-TOKEN';
											$(document).ajaxSend(
													function(e, xhr, options) {
														xhr.setRequestHeader(
																header, token);
													}),
											$
													.ajax({
														crossDomain : true,
														type : "GET",
														url : "showsSubList?taskId="
																+ taskId,

														/* 	url : "showsSectionList?actId="
																+ 1, */
														contentType : "application/json; charset=utf-8",
														/* data:{caseId:caseId
														}, */
														cache : false,
														timeout : 600000,
														success : function(data) {

															var html = '';
															var len = data.length;

															if (len === 0) {
																//			alert("create empty");
																$("#Subtask")
																		.hide();
																$("#sublb")
																		.hide();

															}

															/* 	$("#Subtask").empty();
																$("#Subtask").append(

																"<option value='0'>Select</option>");
																for (var i = 0; i < len; i++) {
																	var id = data[i]['id'];
																	var subTask = data[i]['subTaskName'];

																	$("#Subtask")

																	.append(

																	"<option value='"+id+"'>" + subTask + "</option>");

																} */
														},
														error : function(xhr,
																status, error) {
															alert('error in getting count');
														}
													});
								}
							});

			function geSubTask(taskID) {

				//	alert('get sub task');

				var taskId = $('#createTask').val();

				var token = $("input[name=_csrf]").val();
				var header = 'X-CSRF-TOKEN';
				$(document).ajaxSend(function(e, xhr, options) {
					xhr.setRequestHeader(header, token);
				}), $.ajax({
					crossDomain : true,
					type : "GET",
					url : "showsSubList?taskId=" + taskId,

					/* 	url : "showsSectionList?actId="
							+ 1, */
					contentType : "application/json; charset=utf-8",
					/* data:{caseId:caseId
					}, */
					cache : false,
					timeout : 600000,
					success : function(data) {

						var html = '';
						var len = data.length;

						if (len === 0) {
							//			alert("empty");
							$("#Subtask").hide();
							$("#sublb").hide();

						}

						if (len > 0) {
							//	alert("emptyrrrrrrrrrrrrrr");
							$("#Subtask").show();
							$("#sublb").show();

							$("#Subtask").empty();
							//	$("#Subtask").append(

							//"<option value='0'>Select</option>"); 
							for (var i = 0; i < len; i++) {
								var id = data[i]['id'];
								var subTask = data[i]['subTaskName'];

								$("#Subtask")

								.append(

										"<option value='"+id+"'>" + subTask
												+ "</option>");

							}
						}
					},
					error : function(xhr, status, error) {
						alert('error in getting count');
					}
				});

			}

			function getLinkinspectorList(udetails) {

				//	alert('get unit details')

				var unitid = $('#udetails').val();

				var token = $("input[name=_csrf]").val();
				var header = 'X-CSRF-TOKEN';
				$(document).ajaxSend(function(e, xhr, options) {
					xhr.setRequestHeader(header, token);
				}), $.ajax({
					crossDomain : true,
					type : "GET",
					url : "getInspectorListReportByUnitId?unitId=" + unitid,

					/* 	url : "showsSectionList?actId="
							+ 1, */
					contentType : "application/json; charset=utf-8",
					/* data:{caseId:caseId
					}, */
					cache : false,
					timeout : 600000,
					success : function(data) {

						var html = '';
						var len = data.length;
						$("#pofficer").empty();
						$("#pofficer").append(

						"<option value='0'>Choose</option>");
						for (var i = 0; i < len; i++) {
							var id = data[i]['id'];
							var name = data[i]['fullName']
									+ data[i]['designation2'];

							$("#pofficer")

							.append(

							"<option value='"+id+"'>" + name + "</option>");

						}
					},
					error : function(xhr, status, error) {
						alert('error in getting count');
					}
				});

			}
		</script>

	</div>

</body>
</html>



