<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" type="text/css">
<link href="plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css"
	rel="stylesheet" type="text/css">
<title>Pending Sanction Orders for Finalization</title>

</head>

<body>

	<div layout:fragment="content">
	<div th:if="${message}" class="alert alert-success alert-dismissible"
			role="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div class="alert-icon">
				<i class="fa fa-check"></i>
			</div>
			<div class="alert-message">
				<span th:text="${message}"></span>
			</div>
		</div>

		<div class="row pt-2 pb-2">
			<!-- <div class="col-sm-9">
				<h5 class="page-title"></h5>
			</div> -->
			
			<div class="col-sm-3">
				<ol class="breadcrumb">


					<li class="breadcrumb-item"><a href="userHome">Home</a></li>



					<li class="breadcrumb-item active" aria-current="page">Total Tasks Assigned</li>
				</ol>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="form-header" >Total Tasks Assigned

						</h4>
						<div class="row">
						
						<div class="col-sm-3 pb-2">
							<input class="form-control" type="text" id="tableSearch" placeholder="Please Enter Here for Search ...." />
						</div>
						</div>

						<form th:action="@{/addCourtCaseDtls}" method="post"
							th:object="${assignedTaskPuh}" id="viewPendingTaskdtl1">



							<div class="table-responsive">
							
								<table class="table table-bordered" id="assignedTable">
									<thead class="bg-info text-white">
										<tr>
											<th>S.No.</th>
											<!-- <th hidden="">id</th>
											<th hidden="">userid</th> -->
											<th>Task Name</th>

<th>Company Name</th>


											<th>PROSECUTION SANCTION ORDER NO</th>
											<th>PROSECUTION <br>SANCTION DATE </th>


											<th>PROSECUTION <br>SANCTION ORDER FILE</th>
											



												<th>sfio As</th>
 
<th>Status</th>
											<!-- <th>Action</th> -->
											


										</tr>
									</thead>
									<tbody>
										<tr th:each="p,stats: ${listAssinedTask}">
											<!-- <td th:text="${stats.count}"></td> -->
											<td th:text="${currentRow+stats.count-1}"></td>
											<td th:text="${p.createTask.task}"></td>
											<td th:text="${p.addCase.caseTitle}"></td>
											

											<td th:text="${p.addCase.proSectionOrderNumber}">
											</td>
											
											
											<td th:text="${#dates.format(p.addCase.proSanctionDate, 'dd/MM/yyyy')}">
																								</td>


											<td >
											
											
											<label class=" col-form-label text-primary"> <a
										th:target="_blank"
										th:href="@{|/downloadFiles?fileName=${p.addCase.proSanctionFileName}|}"><!-- <span
											th:text="${p.addCase.proSanctionFileName}"></span> --><span>
											View</span>
											  <span th:unless="${p.addCase.proSanctionFileName==null}"><i
											class="fa fa-file-pdf-o" style="font-size: 24px; color: red"></i></span></a></label> 
											
											
											
											</td>
											
											<td th:text="${p.sfioAs.SfioAs}"></td>
											
	
											
<td><th:block th:if="${p.createTask.id!=1}">   

													<span style="color: blue">Task in Progress</span>
												</th:block>
												
												<th:block th:if="${p.isApproved==false && p.createTask.id==1}">   

													<span style="color: blue">Task in Progress</span>
												</th:block>
												
												<th:block th:if="${p.isApproved==true && p.createTask.id==1}">   

													<span style="color: blue">Completed</span>
												</th:block>
												
												
												</td>

											<!-- <td>
											
											<button type="submit" th:name="addCourtDtls" class="btn btn-success"
														th:value="${p.id}" >Initiate111</button>

													
													
												
												
												</td>
											 -->

										</tr>


									</tbody>

								</table>
							</div>


						</form>
							<div class="d-flex justify-content-between px-3 py-3">
						<div  th:if="${totalPages > 0}">
								Total Rows: [[${totalItems}]]
								</div>
								<div th:if="${totalPages > 0}">Showing [[${currentRow}]] to [[${lastRow}]]  of [[${totalRow}]]	</div>
								<div  th:if="${totalPages > 0}">
								Page Number: [[${currentPage}]]
								</div></div>
								<div class=" row col-md-12  pagination justify-content-center" th:if="${totalPages > 1}">
										<div class="page-item">
										<a class="page-link" th:if="${currentPage > 0}" href="#"
											th:onclick="'DetailsforNCRBPending(\'' + ${currentPage - 1} +'\');'">Preview</a>
										<span class="page-link" th:unless="${currentPage > 0}" >Preview</span>
									</div >
										<span th:each="i: ${#numbers.sequence(1, totalPages)}">
											<a class="page-link" th:if="${currentPage != i}" href="#" 
											th:onclick="'DetailsforNCRBPending(\'' + ${i} +'\');'">[[${i}]]</a>
											<span class="page-link"  th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
											&nbsp;
										</span>
									<div class="page-item">
								<a class="page-link" th:if="${currentPage < totalPages}" href="#"
											th:onclick="'DetailsforNCRBPending(\'' + ${currentPage + 1} +'\');'">Next</a>
										<span class="page-link" th:unless="${currentPage < totalPages}" >Next</span>
</div>
										<div class="page-item">
										<a class="page-link page-item" th:if="${currentPage < totalPages}" href="#"
											th:onclick="'DetailsforNCRBPending(\'' + ${totalPages} +'\');'">Last</a>
										<span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
									</div>
							</div>
							<form action="getUsers1" id="getUsers" th:object="${pageNoDTO}" method="post">
							
							
							<input type="hidden" th:field=*{pageno}>
							<input type="hidden" th:name=${_csrf.parameterName} th:value=${_csrf.token}>
							
							
							</form>



					</div>

				</div>
			</div>
		</div>
		

		<script type="text/javascript">
		$(document).ready(function(){

		    // code to read selected table row cell data (values).
		    $("#assignedTable").on('click','.btnSelect',function(){
		         // get the current row
		         var currentRow=$(this).closest("tr"); 
		         
		         
		        var id=currentRow.find("td:eq(1)").text(); // get current row 2nd TD
		        var user=currentRow.find("td:eq(2)").text(); // get current row 2nd TD
		     
					$('#viewPendingTaskdtl1').attr('action', 'initiateApprove');
					 $('#id').val(id);
					 $('#user').val(user);
				      
				      alert($('#id').val());
				      alert($('#user').val());
				      
				     
					$('#viewPendingTaskdtl1').submit(); 
				
		    });
		});
		
		
		</script>
		
		<script type="text/javascript">

function DetailsforNCRBPending(pageId) {
	
	$('#pageno').val(pageId);
	$('#getUsers').attr('action', 'prosecutorTaskList1');
	$('#getUsers').submit();
	
}

//10-02-2026
$(document).ready(function () {
  $("#tableSearch").on("keyup", function () {
    var value = $(this).val().toLowerCase();
    $("#assignedTable tbody tr").filter(function () {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
    });
  });
});

//END 10-02-2026
</script>
<!-- <script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
		<script
			src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
		
		<script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
		<script
			src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/jszip.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/pdfmake.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/vfs_fonts.js"></script>
		<script src="plugins/bootstrap-datatable/js/buttons.html5.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/buttons.print.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/buttons.colVis.min.js"></script>

		<script type="text/javascript">	
			
		
		$(document).ready(function(){
			  var empDataTable = $('#assignedTable').DataTable({
			     dom: 'Blfrtip',
			                
			   //  "bPaginate": false,//Dont want paging  

			   "bPaginate": false,
			    lengthMenu: [
				            [10, 25, 50, -1],
				          //  [10, 25, 50, 'All'],
				            [10, 25, 50],
				        ],
				        "pageLength" : 25,
			     buttons: [
			       {  
			          extend: 'copy'
			       },
			       {
			    	  // title: $('h4').text(),
			    	  title: "Total Tasks Assigned",
			    	   extend: 'pdfHtml5',
			    	   
			           exportOptions: {
			               columns: [0,1, 2, 3, 4, 5, 6, 7]
			           },
			           customize : function(doc) {
			               doc.styles['td:nth-child(8)'] = { 
			                   width: '1000px',
			                   'max-width': '1000px'
			               },
			               
			               doc['footer']=(function(page, pages) {
			                   return {
			                       columns: [
			                           'User Details ' + new Date(),
			                           {
			                               // This is the right column
			                               alignment: 'right',
			                               text: ['page ', { text: page.toString() },  ' of ', { text: pages.toString() }]
			                           }
			                       ],
			                       margin: [10, 0]
			                   }
			               });
			           
			           },
			           
			           text: 'Export Current Page: PDF',
			           orientation: 'landscape',
			           pageSize: 'A3',
			         
			       
			       
			       },
			       {
			          extend: 'csv',
			          title: "Total Tasks Assigned",
			       },
			       {
			          extend: 'excel',
			          //title: $('h4').text(),
			          title: "COURT CASE DETAILS",
			          exportOptions: {
			               columns: [0,1, 2, 3, 4, 5, 6, 7]
			           },
			       } 
			     ] 

			  });
		});

		
		</script> -->
		
		

	</div>




</body>
</html>