<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" type="text/css">
<link href="plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css"
	rel="stylesheet" type="text/css">
<title>All Created Tasks</title>

</head>

<body>

	<div layout:fragment="content">

		<div class="row pt-2 pb-2">
			<!-- <div class="col-sm-9">
				<h5 class="page-title"></h5>
			</div> -->
			<div class="col-sm-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="userHome">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Task
						Details</li>
				</ol>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="form-header text-uppercase">
							<i class="fa fa-address-book-o"></i> Tasks in progress

						</h4>


						<div class="form-group row">
							<table class="table table-striped" id="userTable">
								<thead>
									<tr style="background-color: blueviolet; color: white;">
										<th>Sr No</th>
										<th>Court Case No</th>
										<th>Case Title</th>
										<th>Cause Title</th>
										<th>Task</th>
										<th>Assigned date</th>

										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="p,status:${PendingTask}">
										<td th:text="${status.count}"></td>

										<td th:text="${p.proCourtCase.courtCaseNo}"></td>
										<td th:text="${p.proCourtCase.invCaseDetail.caseTitle}"></td>
										<td th:text="${p.proCourtCase.causeTitle}"></td>
										<td th:text="${p.createTask.task}"></td>



										<td th:id="fillingDate"
											th:text="${#dates.format(p.proCourtCase.createdDate, 'dd/MM/yyyy')}"></td>


										<td><th:block th:if="${p.createTask.id==1}">
												
											<form th:action="@{/viewPendingTaskdtl}" method="post"
												autocomplete="off">
												<button type="submit" class="btn btn-success"
													th:name="initiateApprove" th:value="${p.id}">Initiate</button>
											</form>

											</th:block> <th:block th:unless="${p.createTask.id==1}">
												
											<form th:action="@{/viewPendingTaskdtl}" method="post"
												autocomplete="off">
												<button type="submit" class="btn btn-danger" disabled="disabled"
													th:name="initiateApprove" th:value="${p.id}">Initiate</button>
											</form>
											</th:block>






</td>
									</tr>


								</tbody>

							</table>
						</div>








					</div>

				</div>
			</div>
		</div>
		<script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
		<script
			src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {

				var table = $('#userTable').DataTable({
					//		 	        lengthChange: false,
					buttons : [ 'copy', 'excel', 'pdf', 'print', 'colvis' ]
				});
			});
		</script>

	</div>

</body>
</html>