<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Case Details</title>
</head>

<body>
	
	<div layout:fragment="content">
<script type="text/javascript">
	
		</script>
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">

					<div th:if="${message}"
						class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<div class="alert-icon">
							<i class="fa fa-check"></i>
						</div>
						<div class="alert-message">
							<span th:text="${message}"></span>
						</div>
					</div>

				<div class="col-sm-4">
					<span sec:authorize="hasRole('ROLE_ADMIN')"><a href="home" class="btn btn-dark">Home</a></span>
			
					<span sec:authorize="hasRole('ROLE_OFFICER')"><a href="userHome" class="btn btn-dark">Home</a></span>
			
				
			
					</div>

                  
				</div>
			</div>
		</div>

<form method="post" id="getSummon" target="_self">
		<input id="id" name="id" type="hidden" />
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		</form>

	</div>

</body>
</html>