<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<title>Add New Respondent</title>
</head>

<body>

	<div layout:fragment="content">

		<div class="row pt-2 pb-2">
			<!-- <div class="col-sm-9">
				<h5 class="page-title"></h5>
			</div> -->
			<div class="col-sm-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="userHome">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Court
						Case Details</li>
				</ol>
			</div>
		</div>

		<div th:if="${message}" class="alert alert-success alert-dismissible"
			role="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div class="alert-icon">
				<i class="fa fa-check"></i>
			</div>
			<div class="alert-message">
				<span th:text="${message}"></span>
			</div>
		</div>


		<form th:action="@{/approveTask}" method="post" class="needs-validation"
			autocomplete="off" th:object="${assignedDtl}" th:id="ApproveTask"
			id="proCourtCaseDetails" enctype="multipart/form-data">

<input type="hidden" id=caseId1 th:field="*{id}">
					<!-- 	 <input
				type="hidden" id="caseTitle12" th:filed="*{caseTitle}"> -->
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">





							<h4 class="form-header text-uppercase">
								<i class="fa fa-address-book-o"></i> Court Case Details
							</h4>



							<div class="form-group row">
								<div class="col-sm-3">
								<label for="input-16" class="col-form-label">SFIO
									As <span class="text-danger"></span>
								</label>
								</div>
								<div class="col-sm-3">
									<label class=" col-form-label text-primary"
										id="CourtNo"> <span th:id="CourtNo"  style="font-size: medium;"
										th:text="${pcrtdtls.sfioAs.SfioAs}"></span></label>

								</div>


							</div>

							<div class="form-group row">

<div class="col-sm-3">
								<label for="input-10" class=" col-form-label">Court
									Type <span class="text-danger"></span>
								</label>
								</div>
								<div class="col-sm-3">
									<label class="col-form-label text-primary"
										id="CourtNo"> <span th:id="CourtNo"
										th:text="${pcrtdtls.courtType.courtName}"></span></label>

								</div>
								<div class="col-sm-3">
								<label for="input-10" class=" col-form-label">State
									<span class="text-danger"></span>
								</label>
								</div>
								<div class="col-sm-3">
									<label class="col-form-label text-primary"
										id="CourtNo"> <span th:id="CourtNo"
										th:text="${pcrtdtls.state.state}"></span></label>

								</div>

							</div>
							<div class="form-group row">
							<div class="col-sm-3">
								<label for="input-10" class=" col-form-label">City
									<span class="text-danger"></span>
								</label>
								</div>
								<div class="col-sm-3">
									<label class="col-form-label text-primary"
										id="CourtNo"> <span th:id="CourtNo"
										th:text="${pcrtdtls.city.districtName}"></span></label>

								</div>
								<div class="col-sm-3">
								<label for="input-16" class=" col-form-label">Court
									Case No <span class="text-danger"></span>
								</label>
								</div>
								<div class="col-sm-3">
									<label class="col-form-label text-primary"
										id="CourtNo"> <span th:id="CourtNo"
										th:text="${pcrtdtls.courtCaseNo}"></span></label>
								</div>


							</div>
							<div class="form-group row">
							<div class="col-sm-3">

								<label for="input-16" class=" col-form-label">
									Filling Date <span class="text-danger"></span>
								</label>
								</div>
								<div class="col-sm-3">
									<label class="col-form-label text-primary"> <span
										th:text="${#dates.format(pcrtdtls.fillingDate, 'dd/MM/yyyy')}"></span></label>
										


								</div>
								<div class="col-sm-3">
								<label for="input-16" class=" col-form-label">
									Cause Title <span class="text-danger"></span>
								</label></div>
								<div class="col-sm-3">
									<label class="col-form-label text-primary"> <span
										th:text="${pcrtdtls.causeTitle}"></span></label>

								</div>

							</div>


							<div class="form-group row">
							<div class="col-sm-3">

								<label for="input-16" class="col-form-label">
									Prosecution Sanction Order No <span class="text-danger">
								</span>
								</label>
								</div>
								<div class="col-sm-3">
									<label class="col-form-label text-primary"> <span
										th:text="${pcrtdtls.proSanctionOrder}"></span></label>

								</div>


								<div class="col-sm-3">
								<label for="input-16" class=" col-form-label">
									Prosecution Case Date <span class="text-danger"> </span>
								</label></div>
								<div class="col-sm-3">
									<label class="col-form-label text-primary"> <span
										th:text="${#dates.format(pcrtdtls.proDate, 'dd/MM/yyyy')}"></span></label>


								</div>

							</div>
							<div class="form-group row">
							<div class="col-sm-3">
								<label for="input-16" class="col-form-label">
									Prosecution Sanction Order File <span class="text-danger">
								</span>
								</label></div>
								<div class="col-sm-3">

									<label class="col-form-label text-primary"> <a
										th:target="_blank"
										th:href="@{|/downloadFiles?fileName=${pcrtdtls.proSanctionOrderFile}|}"><span
											th:text="${pcrtdtls.proSanctionOrderFile}"></span><i class="fa fa-file-pdf-o" style="font-size:24px;color:red"></i></a></label>
								</div>
								<div class="col-sm-3">


								<label for="input-16" class="col-form-label">
									Case No<span class="text-danger"> </span>

								</label></div>
								<div class="col-sm-3">

									<label class="col-form-label text-primary"> <span
										th:text="${pcrtdtls.invCaseDetail.caseId}"></span></label>

								</div>



							</div>
							<div class="form-group row" id="snmsCasedtl">
								<div class="col-sm-3">
									<label for="input-16" class=" col-form-label">
										Investigation MCA Order No <span class="text-danger"></span>

									</label>
								</div>
								<div class="col-sm-3">
									<label class="col-form-label text-primary"> <span
										th:text="${pcrtdtls.invCaseDetail.mcaOrder}"></span></label>


								</div>
								<div class="col-sm-3">
									<label for="input-16" class=" col-form-label"> Company
										Name <span class="text-danger"></span>

									</label>
								</div>
								<div class="col-sm-3">

									<label class=" col-form-label text-primary"> <span
										th:text="${pcrtdtls.invCaseDetail.caseTitle}"></span></label>

								</div>



							</div>

							<!-- <div class="form-group row"></div> -->


							<div class="form-group row">
							<div class="col-sm-3">
								<label for="input-16" class=" col-form-label">
									Brief <span class="text-danger">*</span>
								</label></div>
								<div class="col-sm-3">

									<label class="col-form-label text-primary"> <span
										th:text="${pcrtdtls.brief}"></span></label>

								</div>



							</div>


							<div class="form-group row">
							<div class="col-sm-3">
								<label for="input-16" class="col-form-label">
									Upload File <span class="text-danger"></span>
								</label></div>
								<div class="col-sm-3">
									
						
									
									
									
									<label class="col-form-label text-primary"> <a
										th:target="_blank"
										th:href="@{|/downloadFiles?fileName=${pcrtdtls.proSanctionOrderFile}|}"><span
											th:text="${pcrtdtls.gistFile}"></span><i class="fa fa-file-pdf-o" style="font-size:24px;color:red"></i></a></label>
								</div>

							</div>

							<div class="form-group row">
<div class="col-sm-3">
								<label for="input-16" class="col-form-label">
									Task Assign <span class="text-danger">*</span>
								</label></div>

								<div class="col-sm-3">


									<label class=" col-form-label text-primary"> <span
										th:text="${assignedDtl.createTask.task}"></span></label>
								</div>

<th:block th:if="${assignedDtl.subtask.Id!=0}">

<div class="col-sm-3">
								<label for="input-16" class="col-form-label">
									Sub Task Assign <span class="text-danger">*</span>
								</label></div>

								<div class="col-sm-3">

									<label class=" col-form-label text-primary"> <span
										th:text="${assignedDtl.subtask.subTaskName}"></span></label>

								</div>
								</th:block>
							</div>





							<div class="form-footer">
								<button type="button" class="btn btn-success btn-round m-1 "
									th:onclick="'approveTask(\'' + ${assignedDtl.id} +'\');'"
									th:value="${assignedDtl.id}">Proceed</button>
									
									
								
									<a href="ApproveproTaskList" class="text-white"><button type="button" class="btn btn-warning btn-round m-1 "
									
									>Back</button></a> 
									

							<!-- 	<button type="button"
									class="btn btn-info btn-round m-1 float-right"
									data-toggle="modal" data-target="#exampleModal"
									data-whatever="@mdo" th:value="${assignedDtl.id}">Sent
									Back to Review</button> -->

							</div>



						</div>
					</div>
				</div>

				<div class="modal fade" id="exampleModal" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Reason For
									Sending Back</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label for="recipient-name" class="col-form-label">Remark
										:</label> <input type="text" th:field="*{remark}"
										placeholder="Enter Reject Reason " maxlength="50"
										class="form-control" id="review"> <span
										class="text-danger" style="display: none" id="reviewError">Please
										Enter Reason </span>
								</div>


							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary"
									onclick="SendBack();">Save</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</form>
		
			<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
		<script src="js/jquery-confirm.js"></script>
		<script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
		
		<script type="text/javascript">
		function SendBack () {
            var reviewRemark = $('#review').val();
			
			if(reviewRemark ===  ""){
				$('#reviewError').show();
			}else{
				$('#reviewError').hide();
				$('#ApproveTask').attr('action', 'SendBackForReview');
	    			
	    			$('#ApproveTask').submit();
			}
		}
		function approveTask(id) {
			
			//	alert("id is   "+compid)
				$.confirm({
		  		    title: '',
		  		    content: 'Are You sure you want to Proceed ? ',
		  		    type: 'green',
		  		    typeAnimated: true,
		  		    buttons: {
		  		        tryAgain: {
		  		            text: 'Yes',
		  		            btnClass: 'btn-Success',
		  		            action: function(){
		  		            	

		  		    			$('#ApproveTask').attr('action', 'proceedTask');
		  		    			
		  		    			$('#ApproveTask').submit();
		  		            }
		  		        },
		  		        close: function () {
		  		        }
		  		    }
		  		});
		  		

				
			}
			

		</script>
	</div>

</body>
</html>