<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>SFIO Login</title>
  <!-- loader-->
  
</head>

<body>

<!-- Start wrapper-->
 <div id="wrapper">

 <div class="height-100v d-flex align-items-center justify-content-center">
	<div class="card card-authentication1 mb-1">
		<div class="card-body">
		 <div class="card-content p-2">
		 	<div class="text-center">
		 	
		 		<!-- <img src="images/India_flag.png" alt="logo icon"> -->
		 	</div>
		  <div class="card-title text-uppercase text-center py-3">Summon and Notices Management System</div>

			 <div class="form-group">
			  <label for="exampleInputcaptcha" class="sr-only">Security Code</label>
			   <div class="position-relative has-icon-right">
				 <span class="col-sm-3 text-center"> <img th:src="captcha" alt="not-load"></span>
				 <!-- <a href="captcha">add</a> -->
				  <div class="form-control-position">
					 <!--  <a href="#" id="refreshCaptcha"
                      class="refresh-captcha"><img class="cap-ref" alt="refresh"
									src="resources/images/refresh.png" /></a> -->
				  </div>
			   </div>
			  </div> 
			  <div></div></div></div></div></div></div>
	
  
</body>

</html>
