<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Forgot Password</title>
<!-- loader-->
<link href="css/pace.min.css" rel="stylesheet" />
<script src="js/pace.min.js"></script>
<script src="js/bCrypt.js"></script>
<!--     <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
<!--favicon-->
<link rel="icon" href="images/India_flag.png" type="image/x-icon" />
<!-- Bootstrap core CSS-->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<!-- animate CSS-->
<link href="css/animate.css" rel="stylesheet" type="text/css" />
<!-- Icons CSS-->
<link href="css/icons.css" rel="stylesheet" type="text/css" />
<!-- Custom Style-->
<link href="css/app-style.css" rel="stylesheet" />
<!-- custom external css -->
<link href="css/customExternal.css" rel="stylesheet" />

</head>

<body>

	<!-- Start wrapper-->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="logo">
					<img src="images/emblem-dark.png">
					<h3>
						Summon And Notices Management System<br>Serious Fraud
						Investigation Office
					</h3>
				</div>
			</div>
		</div>
	</div>

	<div id="wrapper">
		<nav class="navbar navbar-expand-lg navbar-light nav-color">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link text-white"
							href="index">Home</a></li>
						<li class="nav-item"><a class="nav-link text-white"
							href="login">Sign In</a></li>

						<li class="nav-item active"><a class="nav-link text-white"
							href="forgotPass">Forgot Password</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="d-flex align-items-center justify-content-center"
			style="margin-top: 20px;">
			<div class="card card-error mb-1 externalPage-color">
				<div class="card-body">
					<div class="card-content p-2">
						<div class="text-center"></div>
						<div class="card-title text-center py-3">Summon and Notices
							Management System<br>
							<div class="mt-3" th:if="${invalidcaptcha}">
								<span th:text="${invalidcaptcha}" class="text-danger "></span>
							</div>
							
								<div class="mt-3" th:if="${usernameInvalid}">
								<span th:text="${usernameInvalid}" class="text-danger "></span>
							</div>
							
							<div class="mt-3" th:if="${sendForgotemailmsg}">
								<span th:text="${sendForgotemailmsg}" class="text-danger "></span>
							</div>
							
							<div class="mt-3" th:if="${validOtp}">
								<span th:text="${validOtp}" class="text-danger "></span>
							</div>
							
							
							</div>

						<form th:action="@{/}" method="post" th:object=${userForm} id="forgotPass">

							<div class="form-group row">
								<label for="exampleInputUsername" class="sr-only">Username</label>
								<div class="position-relative has-icon-right col-md-8">
									<input type="email" id="username" th:field="*{username}" class="form-control input-shadow"
										placeholder="Enter Username" autocomplete="off"> <span
										id="usernameErr" class="text-danger"></span>
									<div class="form-control-position">
										<i class="icon-user"></i>
									</div>
								</div>
								<div class="col-md-4">
									<input type="button" value="Generate Email OTP"
										class="btn btn-success" id="getEmailOtp"
										style="margin-left: 0px; color: white" data-toggle="modal" />
								</div>
							</div>



							<div class="form-group row">
								<label for="exampleInputPassword" class="sr-only">Enter OTP</label>
								<div class="position-relative has-icon-right col-md-8">
									<input type="text" id="captcha" name="captcha"
										class="form-control input-shadow"
										placeholder="Enter OTP" maxlength="6" th:id = "otp"
										autocomplete="off" th:field="*{textOTP}">
										<span
										id="otpErr" class="text-danger"></span>
									<div class="form-control-position">
										<i class="icon-lock"></i>
									</div>
								</div>
							</div> 

							<input type="submit" id="verifyUser" class="btn btn-danger"
								value="Verify Username" />

							<div class="modal" id="captchEmailmodel" tabindex="-1"
								role="dialog" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content"
										style="background-color: #eff1f9; margin-top: 190px">
										<div class="modal-header nav-color">
											<h5 class="modal-title text-white">Enter Security Code</h5>
										</div>
										<div class="modal-body">

											<div class="form-group">
												<label for="exampleInputcaptcha" class="sr-only">Security
													Code</label>
												<div class="position-relative has-icon-right">
													<span class="col-sm-3 text-center"> <img id="cImg"
														class="text-left" alt="not-load"></span>
													<div class="form-control-position">
														<a href="#" id="refreshCaptcha" class="refresh-captcha"><img
															class="cap-ref" alt="refresh" src="images/refresh.png" /></a>
													</div>
												</div>
											</div>

											<div class="form-group">
												<label for="exampleInputPassword" class="sr-only">Security
													Code</label>
												<div class="position-relative has-icon-right">
													<input type="text" id="captcha" name="captcha"
														class="form-control input-shadow"
														placeholder="Enter Security Code" maxlength="6"
														autocomplete="off" th:field="*{captcha}">
													<div class="form-control-position">
														<i class="icon-lock"></i>
													</div>
													<span id="captchaErr" class="text-danger" th:field="*{captcha}"></span>
												</div>
											</div>
											<div class="modal-footer">
												<button type="submit" class="btn btn-success"
													data-dismiss="modal" id="emailOtpBtn">Submit</button>
												<button type="button"
													class="btn btn-default btn-danger captchEmailmodelClose">Close</button>

											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>



		<!--Start Back To Top Button-->
		<a href="javaScript:void();" class="back-to-top"><i
			class="fa fa-angle-double-up"></i> </a>
		<!--End Back To Top Button-->

	</div>
	<!--wrapper-->

	<!-- Bootstrap core JavaScript-->
	<script src="js/jquery.min.js"></script>

	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/customValidation.js"></script>

	<!-- sidebar-menu js -->
	<script src="js/sidebar-menu.js"></script>

	<!-- Custom scripts -->
	<script src="js/app-script.js"></script>

</body>

</html>
